body {background:#222;color:#aaa;}
#main {width:960px;margin:10px auto;border:1px solid gray;background:#333;}
#content{padding:10px;display:block;width:500px;border:1px solid gray;background:#444;margin:10px;}
